*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

h3,span{
  color: #095a5b;
}

.box{ 
/*   border: 1px solid black; */
  width: 75%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 40px;
  margin: auto;
  margin-top: 40px; 
}

.detail{
   box-shadow: 0 0 5px rgba(0,0,0,0.3);
   border-radius: 32px;
   width: 95%;
   margin: auto;
}

.details{
/*   height: 300px; */
/*   border: 1px solid black; */
/*  box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
  border-radius: 72px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  
}

.travel1>div{
  display: flex;
  align-items: center;
  gap: 6px;
}


.drop{
  border: none;
  width: 42px;
  height: 42px;
  background: #96b0a4;
  padding: 8px;
  border-radius: 50%;
  Text-align: center;
}

.extended-travel{
  display: flex;
  justify-content: space-between;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
  padding: 12px;
  border-top: 3px solid #96b0a4;
}

.calander{
  width: 58%;
  background: #96b0a4;
}
.items{
  display: flex;
  align-items: center;
  gap: 5px;
  /*border:1px solid blue;*/
  justify-content: center;
}

.plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  width: 40%;
}

.plan1{
 background: #96b0a4;
  padding: 8px;
  border-radius: 12px;
}

.plan1>.sub{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-radius: 8px;
  grid-column-gap: 2px;
  padding: 8px;
    margin: 10px;
  background: #fff;
  border: 1px solid green;
  border-radius: 60px;
}

.plan2{
  display: flex;
  width: 180px;
  border: 2px solid green;
}


.div2{
  background: #96b0a4;
}

.traveller{
  width: 85%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  height: 60px;
  margin: auto;
  margin-top: 60px;
  border-radius: 72px;
}

.account{
  width: 70%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 12px 28px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  background: #96b0a4;
  border-radius: 16px;
}

.account>.account1> div{
  background: #095a5b;
  border-radius: 24px;
  padding: 12px;
  text-align: center;
}

.account>.account1> div> a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* for the count 
.counter {
 display: flex;
 align-items: center;
 justify-content: center;
}
*/

.count {
   margin: 0 10px;
}

/* folded plan */
.sub-div1,.sub-div2,.sub-div3{
  height: inherit;
  display:flex;
  gap:8px;
  align-items: center;
  
}


.details .sub-menu{
  width: 70%;
  display:flex;
  height: inherit;
  align-items: center;
  gap: 20px; 
  justify-content: space-between;
/*  width:60%; */
}

.line{
  height: inherit;
  border: 2px solid #095a5b;
}

/* Accommodation css */

.container{
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 12px;
  margin: 0 auto;
  width: 1125px;
  margin-top: 45px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  
}
.left-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-photo img {
  width: 180px;
  border-radius: 12px
}

#accommodation{
  background-color: #96b0a4;
  padding: 20px;
  border-radius: 12px;
}

#accommodation .accommodation-option{
  border: 1px solid ;
  background-color: #fff;
  margin: 6px;
  border-radius: 40px;
  width: 150px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accommodation-option button{
  border-radius: 12px;
  border: none;
  padding: 6px 8px;
  background-color: #fff;
  border: 1px solid #000;
  color: #095a5b;
}

/* middle panel */
.middle-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  justify-content: space-between;
  
}


.middle-panel .location-options{
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}
#hotel-photos{
  display: flex;
 
  gap: 30px;
  justify-content: space-around;
    flex-wrap: wrap;
  margin-bottom: 20px;
}
.hotel-photo {
  position: relative;
  display: inline-block;
}

.night-price {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  font-size:0.6rem;
  border: 2px solid #095a5b;
}

.select-hotel {
  position: absolute;
  top: -5px;
  right: -5px;
  opacity: ; /* Hide the checkbox */
}

.right-panel {
  float: right;
}

.accommodation-type {
  margin-bottom: 10px;
}

.room-type-options {
  margin-top: 20px;
  display: flex;
  gap: 5px
}

.room-type {
  
}

.num-rooms{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num-rooms >button{
  width: 80px;
  padding: 5px;
  border-radius: 24px;
  border: 2px solid #095a5b;
  background-color:#fff; 
  margin-bottom:12px;
}

.counter1 {
  display: flex;
  align-items: center;
}

.counter1 .increment-btn,
.counter1 .decrement-btn {
  width: 20px;
  height: 25px;
  cursor: pointer;
}

.room-count {
  width: 20px;
  text-align: center;
  height: 25px;
  border: 1px solid #000
}

/* transportation */
.container1{
  box-shadow:  0 0 5px rgba(0,0,0,0.3);
  border-radius: 32px;
  margin: 5px auto;
  width: 1125px;
}

.detail-heading{
  border-radius: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.detail-heading > div{
  display: flex;
  gap: 6px;
}

.drop{
  border: none;
  width: 42px;
  height: 42px;
  background: #96b0a4;
  padding: 8px;
  border-radius: 50%;
  Text-align: center;
}

.extended{
  display: flex;
  padding: 12px;
  border-top: 3px solid #96b0a4;
  justify-content: space-around;
  align-items:center;
}

.pickup{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.jeep, .flight{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-box{
  background-color: #96b0a4;
  padding: 20px;
  border-radius: 12px;
}

.inner-box1{
  border: 1px solid;
  background-color: #fff;
  margin: 6px;
  border-radius: 40px;
  width: 150px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-box2{
   border: 1px solid;
  background-color: #fff;
  margin: 6px;
  border-radius: 10px;
  width: 170px;
  padding: 12px;
  display: flex;
  align-items: center;
}
