<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Form</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Datepicker css -->
    <link rel="stylesheet" href="../css/datepicker.material.css">

</head>

<body>
    <div class="box">
        <div class="travel accordion accordion-flush" id="accordionExample">
            <div class="container1 accordion-item">
                <div class="travel1 details accordion-header " id="headingOne">
                    <div>
                        <h3>Travel Details</h3>
                        <span><i id="calendarIcon" class="far fa-calendar-alt"></i></span>
                    </div>
                    <button class="drop" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    </button>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="extended-travel">
                        <div class="calander">
                            <!-- Datepicker js -->
                            <input type="hidden" id="travel-detail-datetime">
                        </div>
                        <div class="plan">
                            <div class="plan1">
                                <div class="sub" data-price="100">
                                    <div class="items">
                                        <h5>1 - 5 Pax</h5>
                                        <span class="material-symbols-outlined group">groups</span>
                                    </div>
                                    <div class="counter">
                                        <button class="decrement btn ">-</button>
                                        <span id="first-count" class="count">0</span>
                                        <button class="increment btn ">+</button>
                                    </div>
                                    <div class="pricing">
                                        <h5 class="mt-2 fs-6"><sup> $ </sup>100 <sup>USD</sup> <br><i>per person</i>
                                            <h5>
                                    </div>
                                    <div class="select">
                                        <label for="15-pax" class="calculate-total wo-btn">Select</label>
                                        <input type="radio" class="wo-check-input" name="pax-range" id="15-pax">
                                    </div>
                                </div>
                                <div class="sub" data-price="80">
                                    <div class="items">
                                        <h5>5 - 10 Pax</h5>
                                        <span class="material-symbols-outlined group">groups</span>
                                    </div>
                                    <div class="counter">
                                        <button class="decrement btn ">-</button>
                                        <span id="second-count" class="count">0</span>
                                        <button class="increment btn ">+</button>

                                    </div>

                                    <div class="pricing">
                                        <h5 class="mt-2 fs-6"><sup> $ </sup>80 <sup>USD</sup> <br><i>per person</i>
                                            <h5>
                                    </div>
                                    <div class="select">
                                        <label for="510-pax" class="calculate-total wo-btn">Select</label>
                                        <input type="radio" class="wo-check-input" name="pax-range" id="510-pax">
                                    </div>
                                </div>
                                <div class="sub" data-price="60">
                                    <div class="items">
                                        <h5>10- 20 Pax</h5>
                                        <span class="material-symbols-outlined group">groups</span>
                                    </div>
                                    <div class="counter">
                                        <button class="decrement btn ">-</button>
                                        <span id="third-count" class="count">0</span>
                                        <button class="increment btn ">+</button>
                                    </div>
                                    <div class="pricing">
                                        <h5 class="mt-2 fs-6"><sup> $ </sup>60<sup>USD</sup> <br><i>per person</i>
                                            <h5>

                                    </div>
                                    <div class="select">
                                        <label for="1020-pax" class="calculate-total wo-btn">Select</label>
                                        <input type="radio" class="wo-check-input" name="pax-range" id="1020-pax">
                                    </div>
                                </div>
                            </div>
                            <div class="total">
                                <div class="calculate">
                                    <p class="content">0*$0 USD = </p>
                                </div>
                                <div class="price">
                                    <h5> <sup>$</sup> <span class="total-price">0</span> <sup> USD
                                        </sup><br><i>Total</i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Travel Details section end here-->
            <!--Accomodation section starts -->
            <div class="container1 accordion-item">

                <div class="travel1 details accordion-header " id="headingTwo">
                    <div>
                        <h3>Accommodation</h3>
                        <span class="material-symbols-outlined">apartment</span>
                    </div>
                    <button class="drop" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    </button>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                    data-parent="#accordionExample">
                    <div class="row container py-4 accomodation-content">

                        <div class="col col-lg-3">
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <span class="material-symbols-outlined">group</span>
                                <p>10 person selected</p>
                                <h5>Choose Your Hotel</h5>
                            </div>

                            <div class="wo-bg-secondary mt-4 p-3 d-flex flex-column gap-4 star-selection">
                                <!-- Hotel stars selection -->
                                <div class="d-flex justify-content-around ">
                                    <span>3 Star</span>
                                    <span class="material-symbols-outlined">groups</span>
                                    <label for="3-star" class="wo-btn">Select</label>
                                    <input type="radio" class="hidden wo-check-input" id="3-star" name="hotel-star"
                                        value="3">
                                </div>
                                <div class="d-flex justify-content-around ">
                                    <span>4 Star</span>
                                    <span class="material-symbols-outlined">groups</span>
                                    <label for="4-star" class="wo-btn">Select</label>
                                    <input type="radio" class="hidden wo-check-input" id="4-star" name="hotel-star"
                                        value="3">
                                </div>
                                <div class="d-flex justify-content-around">
                                    <span>5 Star</span>
                                    <span class="material-symbols-outlined">groups</span>
                                    <label for="5-star" class="wo-btn">Select</label>
                                    <input type="radio" class="hidden wo-check-input" id="5-star" name="hotel-star"
                                        value="3">
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-6 mid-panel ">
                            <div
                                class="location-options fs-4 bold fw-bold d-flex align-items-center justify-content-around">
                                <div>
                                    <label for="kathmandu">Kathmandu</label>
                                    <input type="radio" id="kathmandu" name="location" value="kathmandu"
                                        class="custom-radio">
                                    <label for="kathmandu" class="custom-label"></label>
                                </div>
                                <i class="fa-solid fa-greater-than fs-3"></i>
                                <div>
                                    <label for="pokhara">Pokhara</label>
                                    <input type="radio" id="pokhara" name="location" value="pokhara"
                                        class="custom-radio">
                                    <label for="pokhara" class="custom-label"></label>
                                </div>
                            </div>

                            <div class="hotel-images">
                                <div>
                                    <label for="img1">
                                        <img Src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI="
                                            width="200px" height="200px" alt="hotel1" />
                                    </label>

                                    <input type="radio" id="img1" name="hotel" value="pokhara" class="custom-radio">
                                    <label for="img1" class="custom-label"></label>
                                    <caption>Hotel 1</caption>
                                    <span>*recomended</span>
                                    <span class="night-price">2 nights/BB</span>
                                </div>
                                <div>
                                    <label for="img4">
                                        <img Src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc="
                                            width="200px" height="200px" alt="hotel1" />
                                    </label>
                                    <input type="radio" id="img4" name="hotel" value="pokhara" class="custom-radio">
                                    <caption>Hotel 2</caption>
                                    <label for="img4" class="custom-label"></label>
                                    <span class="night-price">2 nights/BB</span>
                                </div>
                                <div>
                                    <label for="img2">
                                        <img Src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI="
                                            width="200px" height="200px" alt="hotel1" />
                                    </label>
                                    <input type="radio" id="img2" name="hotel" value="pokhara" class="custom-radio">
                                    <caption>Hotel 3</caption>
                                    <label for="img2" class="custom-label"></label>
                                    <span class="night-price">2 nights/BB</span>
                                </div>
                                <div>
                                    <label for="img3">
                                        <img Src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc="
                                            width="200px" height="200px" alt="hotel1" />
                                    </label>
                                    <input type="radio" id="img3" name="hotel" value="pokhara" class="custom-radio">
                                    <caption>Hotel 4</caption>
                                    <label for="img3" class="custom-label"></label>
                                    <span class="night-price">2 nights/BB</span>
                                </div>
                            </div>
                            <button class="wo-btn d-block mx-auto fw-bold wo-bg-primary text-white">More
                                Hotels >></button>
                        </div>
                        <div class="col col-md-3">
                            <h3 class="text-center">Room Detail</h3>
                            <div class="room-type d-flex gap-4 justify-content-center">
                                <button class="wo-btn">Standard</button>
                                <button class="wo-btn">Delux</button>
                            </div>

                            <div
                                class=" mt-2 room-bed-selection d-flex gap-2 justify-content-around align-items-center">
                                <!-- Single, double, triple bed room selection -->
                                <div class="single">
                                    <button class="wo-btn">Single</button>
                                    <div class="counter">
                                        <button class="decrement btn">-</button>
                                        <span id="first-count" class="count">0</span>
                                        <button class="increment btn">+</button>
                                    </div>
                                </div>
                                <div class="double">
                                    <button class="wo-btn">Double</button>
                                    <div class="counter">
                                        <button class="decrement btn">-</button>
                                        <span id="first-count" class="count">0</span>
                                        <button class="increment btn">+</button>
                                    </div>
                                </div>
                                <div class="triple">
                                    <button class="wo-btn">Triple</button>
                                    <div class="counter">
                                        <button class="decrement btn">-</button>
                                        <span id="first-count" class="count">0</span>
                                        <button class="increment btn">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="room-price-calc">
                                <h4 class="mt-5 text-center"> <span> 5 </span> * Double Room </h4>
                                <hr>

                                <div class="capsules d-flex flex-column justify-content-center align-items-center">
                                    <div class="capsule">
                                        <p>
                                            <span>5</span> * $240 USD =
                                        </p>
                                        <p>
                                            <sup>$</sup>1,200 <sup>USD</sup>
                                        </p>
                                    </div>
                                    <span class="note">*The cost include 2 night Hotel
                                        accomodation</span>
                                    <i class="fa fa-plus"></i>
                                    <div class="capsule">
                                        <p>
                                            <span>5</span> * $240 USD =
                                        </p>
                                        <p>
                                            <sup>$</sup>1,200 <sup>USD</sup>
                                        </p>
                                    </div>
                                    <span class="note">*The cost include 2 night Hotel
                                        accomodation</span>
                                    <i class="fa fa-plus"></i>
                                    <div class="capsule">
                                        <p>
                                            <span>5</span> * $240 USD =
                                        </p>
                                        <p>
                                            <sup>$</sup>1,200 <sup>USD</sup>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Accomodation section ends-->

            <!-- transportation -->
            <div class="container1 accordion-item">
                <div class="travel1 details accordion-header " id="headingThree">
                    <div>
                        <h3> Transportation</h3>
                        <span class="material-symbols-outlined">local_taxi</span>
                    </div>
                    <button class="drop" type="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="true" aria-controls="collapseThree">

                        <span class="material-symbols-outlined">keyboard_arrow_down</span>

                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="extended">

                        <div class="jeep vechile">
                            <div>
                                <span class="material-symbols-outlined">group</span>
                                <p>10 Person Selected</p>
                                <h5>Your Airport Pickup <span><sup>*optional</sup></span></h5>
                            </div>
                            <div class="outer-box">

                                <div class="capsule-2 ">
                                    <h5>Jeep</h5>
                                    <span
                                        class="material-symbols-outlined wo-bg-secondary py-1 px-3 rounded-1">agriculture</span>
                                    <button class="wo-btn wo-bg-secondary">Select</button>
                                </div>
                                <div class="inner-box2">
                                    <h5>Airport Pickup = </h5>
                                    <h3>$20</h3>
                                </div>
                            </div>
                        </div>
                        <div class="vechile">
                            <div>
                                <span class="material-symbols-outlined">group</span>
                                <p>10 Person Selected</p>
                                <h5>Your Flight <span><sup>*optional</sup></span></h5>
                            </div>
                            <div class="outer-box">
                                <div class="capsule-2">
                                    <h5>KTM</h5>
                                    <span
                                        class="material-symbols-outlined px-3 py-1 rounded-1 wo-bg-secondary">flight</span>
                                    <h5>PKR = $50</h5>
                                    <button class="wo-btn wo-bg-secondary">Select</button>
                                </div>
                                <div class="capsule-2">
                                    <h5>PKR</h5>
                                    <span
                                        class="material-symbols-outlined px-3 py-1 rounded-1 wo-bg-secondary">flight</span>
                                    <h5>CHT = $50</h5>
                                    <button class="wo-btn">Select</button>
                                </div>
                                <div class="inner-box2">
                                    <h5>Airport Pickup = </h5>
                                    <h3>$100</h3>
                                </div>
                            </div>
                        </div>
                        <div class="capsule-2 wo-color-primary text-center">
                            <span class="fs-2">Total<br><span class="fs-1 fw-bold">$120</span></span>
                        </div>
                    </div>


                </div>

            </div>
            <!--transporatation section endss -->
            <!--traveller details-->
            <div class="container1 accordion-item">
                <div class="travel1 details accordion-header " id="headingFour">
                    <div>
                        <h3>Traveller Details</h3>
                        <span class="material-symbols-outlined">
                            groups
                        </span>
                    </div>
                    <button class="drop collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-cpmtrols="collapseFour">
                        <span class="material-symbols-outlined">
                            keyboard_arrow_down</span>

                    </button>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="extended">
                        <form>
                            <div class="form-value">
                                <table>
                                    <tr>
                                        <td>
                                            <label for="title">Title:</label>
                                            <select name="title" id="title">
                                                <option value="Mr.">Mr.</option>
                                                <option value="Mrs.">Mrs.</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label for="fname">First name:</label>
                                            <input type="text" id="fname" required />
                                        </td>
                                        <td colspan="2">
                                            <label for="lname">Last name:</label>
                                            <input type="text" id="lname" required />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label for="email">Email:</label>
                                            <input type="text" id="email" required />
                                        </td>
                                        <td colspan="2">
                                            <label for="phone">Phone:</label>
                                            <input type="number" id="phone" required />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label for="mail-address">Mailing Address:</label>
                                            <input type="text" id="mail-address" required />
                                        </td>
                                        <td colspan="2">
                                            <label for="city">City:</label>
                                            <input type="text" id="city" required />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label for="country">Country:</label>
                                            <select name="country" id="country">
                                                <option value="Nepal">Nepal</option>
                                                <option value="Bhutan">Bhutan</option>
                                            </select>
                                        </td>
                                        <td>
                                            Province State or Region
                                            <input />
                                        </td>
                                        <td>
                                            Postal or Zip
                                            <input />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="payment outer-box">
                                <div class="inner-box1">
                                    <input type="radio" id="fullPayment" name="paymentOption" value="full">
                                    <label for="fullPayment">Pay Full Amount</label><br>

                                    <input type="radio" id="halfPayment" name="paymentOption" value="half">
                                    <label for="halfPayment">Pay 20% Deposit</label><br>
                                </div>
                                <div class="email">
                                    <button>Paypal</button>
                                    <h6>Additional 2% is charged for paypal payment</h6>
                                </div>
                                <button>Book Now Via Email</button>
                                <div>
                                    <input type="checkbox" id="terms&condition" name="terms">
                                    <label for="terms&condition">
                                        <h6>*I agree with terms of Services and Privacy Statement</h6>
                                    </label><br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--traveller details end here -->
            <!--
    <div class="traveller details">
  <div class="sub-menu">
        <div class="sub-div1">
         <h3>Accommodation</h3>
          <span class="material-symbols-outlined">
apartment
</span>
  </div>
    <div class="line"></div>
  <div class="sub-div2">
         <h3>Transportation</h3>
    <span class="material-symbols-outlined">
commute
</span>
  </div>
    <div class="line"></div>
  <div class="sub-div3">
         <h3>Traveller Details</h3>
    <span class="material-symbols-outlined">
groups
</span>
  </div>
  </div>
       <button class="drop">
         <span class="material-symbols-outlined">
 keyboard_arrow_down
 </span>
       </button>
  </div>

</div>-->
            <div class="account wo-bg-secondary flex-wrap justify-content-center gap-2  ">
                <div class="account1">
                    <h5>Have an account?</h5>
                    <a role="button" class="btn btn-success" href="#">Log In</a>
                </div>
                <div class="account1">
                    <h5>Don't Have an account?</h5>
                    <a role="button" class="btn btn-success" href="#">Create One</a>
                </div>

                <div class="account1">
                    <h5>or Continue as Guest</h5>
                    <a role="button" class="btn btn-success" href="#">Continue as Guest</a>
                </div>
            </div>
        </div>
        <script>

        </script>

        <script src="../js/index.js"></script>
        <script defer src="../js/counter.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Datepicker js -->
        <script src="../js/datepicker.js"></script>
        <script>
            var custom = new Datepicker('#travel-detail-datetime', {
                multiple: true,
                inline: true,

                classNames: {
                    node: 'datepicker custom'
                },

                templates: {
                    container: [
                        '<div class="datepicker__container">',
                        '<% for (var i = -1; i <= 0; i++) { %>',
                        '<div class="datepicker__pane">',
                        '<%= renderHeader(i) %>',
                        '<%= renderCalendar(i) %>',
                        '</div>',
                        '<% } %>',
                        '</div>'
                    ].join('')
                }
            });

        </script>

</body>

</html>